extends head

block content
  a(href='/' style="color:black;text-decoration : none")
    h1 osuF
      span.h6 armers
      span.h1 M
      span.h6 arket
  form(action='/',method='get')
    .container
    .row
      .col-xs-8.col-xs-offset-2
        .input-group
          .input-group-btn.search-panel
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', id="modes")
              span#search_concept Game Mode 
              span.caret
            ul.dropdown-menu(role='menu',name='mode')
              li(onclick="$('#mode').val(0)")
                a Standard
              li(onclick="$('#mode').val(1)")
                a Taiko
              li(onclick="$('#mode').val(2)")
                a Catch the Beat
              li(onclick="$('#mode').val(3)")
                a Mania
              li.divider
              li(onclick="$('#mode').val(-1)")
                a All
            button(type="button",data-toggle="collapse", data-target="#filters", id='filter').btn.btn-default Filters
          input#mods(type='hidden', name='mods', value=response.params.mods)
          input#page(type='hidden', name='page', value=1)
          input#mode(type='hidden', name='m', value=response.params.m)
          input.form-control(type='text', name='n', placeholder='Search Beatmaps...', value = response.n)
          span.input-group-btn
            button.btn.btn-default(type="submit")
              span.glyphicon.glyphicon-search
    br
    .collapse#filters
      .container#mods
        .checkbox
          h4 Mods
            hr
            .row.col-xs-offset-2
              label.checkbox-inline.col
                input(type='checkbox', value='64', id='DT', checked= response.DT)
                | Double Time
              label.checkbox-inline.col
                input(type='checkbox', value='8', id='HD', checked= response.HD)
                | Hidden
              label.checkbox-inline.col
                input(type='checkbox', value='16', id='HR', checked= response.HR)
                | Hard Rock
              label.checkbox-inline.col
                input(type='checkbox', value='2', id='EZ', checked= response.EZ)
                | Easy
              label.checkbox-inline.col
                input(type='checkbox', value='1024', id='FL', checked= response.FL)
                | Flashlight
              label.checkbox-inline.col
                input(type='checkbox', value='0', id='NO', checked= response.NO)
                | No Mod/Strict Mods
      .container#performance
        h4 Performance options
        hr
        .form-group.row
          .col-sm-2
            label Min PP
            input.form-control(type='text', name='mpp', placeholder='Min PP', value=response.params.mpp)
          .col-sm-2
            label Max PP
            input.form-control(type='text', name='xpp', placeholder='Max PP', value=response.params.xpp)
      .container#options
        h4 Map Options
        hr
        .form-group.row
          .col-sm-2
            label Min Length(secs)
            input.form-control(type='text', name='ml', placeholder='Min Length', value=response.params.ml)
          .col-sm-2
            label Max Length(secs)
            input.form-control(type='text', name='xl', placeholder='Max Length', value=response.params.xl)

          .col-sm-2
            label Min BPM
            input.form-control(type='text', name='mb', placeholder='Min BPM',value=response.params.mb)
          .col-sm-2
            label Max BPM
            input.form-control(type='text', name='xb', placeholder='Max BPM', value=response.params.xb)
          .col-sm-2
            label Min Difficulty
            input.form-control(type='text', name='md', placeholder='Min Diff', value=response.params.md)
          .col-sm-2
            label Max Difficulty
            input.form-control(type='text', name='xd', placeholder='Max Diff', value=response.params.xd)
        .form-group.row
          .col-sm-2
            label Min AR
            input.form-control(type='text', name='mar', placeholder='Min AR', value=response.params.mar)
          .col-sm-2
            label Max AR
            input.form-control(type='text', name='xar', placeholder='Max AR', value=response.params.xar)
          .col-sm-2.col-sm-offset-2
            label  Min&nbsp
            if response.params.m == 3
              label Keys
              input.form-control(type='text', name='mcs', placeholder='Min Keys', value=response.params.mcs)
            else 
              label CS
              input.form-control(type='text', name='mcs', placeholder='Min CS', value=response.params.mcs)
          .col-sm-2
            label  Max&nbsp
            if response.params.m == 3
              label Keys
              input.form-control(type='text', name='xcs', placeholder='Max Keys', value=response.params.xcs)
            else 
              label CS
              input.form-control(type='text', name='xcs', placeholder='Max CS', value=response.params.xcs)

  div.table-responsive#table
    table.table
      thead
        tr
          th #
          th
          th Map
          th Farm Score
          th Average PP
          th Average Acc
          th Mods
          th Length
          th BPM
          th Stars
      tbody
        each map, i in maps
          tr
            td
              p= offset + i + 1
            td
              a(href='https://osu.ppy.sh/b/'+map.bid)
                img(src= 'https://b.ppy.sh/thumb/' + map.sid + ".jpg")
            td 
              a(href='https://osu.ppy.sh/b/'+map.bid) #{map.artist} - #{map.name} [#{map.version}]
              if map.mode == 3
                p.text-muted.small= "Keys: " + map.cs
              else if map.mode == 0 || map.mode == 2
                p.text-muted.small= "AR: " + (map.ar).toFixed(1) + " CS: " + (map.cs).toFixed(2)+ " OD: " + (map.od).toFixed(2)
            td
              p= (100*map.score).toFixed(2) + "%"
            td
              p= (map.avg_pp).toFixed(2)
            td
              p= (map.avg_acc).toFixed(2) + "%"
            td
              p= map.pop_mod
            td
              p= map.length
            td
              p= (map.bpm).toFixed(2)
            td
              p= (map.diff).toFixed(2)
  div.text-center#pages
  script.
    $(':checkbox').change(function () {
      var nomod = $('#NO').is(':checked');
      var current_val = Number($('#mods').val());
      var value = Number($(this).val());
      var checked = Number(this.checked);
      if(nomod == true){
        value *= -1
        if(current_val > 0){
        current_val *= -1
        }
      } else{
        if(current_val == -1){
          current_val = 0
        } else if(current_val < 0){
        current_val *= -1
        } else if(current_val == 0 && checked == false){
          $('#mods').val(-1)
          return
        }
      }
      if(checked && value != -1){
      $('#mods').val(current_val + value)
      } else if(!checked && value != -1){
      $('#mods').val(current_val - value)
      if($('#mods').val() == 0 && $('#NO').is(':checked') == false){
        $('#mods').val(-1)
      }
      }
      mod = value
   });

    $('#pages').bootpag({
   total: #{pages},
   page: #{current_page},
   maxVisible: 10
    }).on('page', function(event, num){
        $('#page').val(num)
        $('form').submit();
    });

    $("[name='mode'] li a").click( function() {
    mode = $(this).text();
    var y = document.getElementById('modes');
    var aNode = y.innerHTML = mode + ' <span class="caret"></span>'; // Append
    });




