extends head

block content
  h1= title

  h2 Maps

  ul
  div
    table.table
      thead
        tr
          th MAP
          th Scores
          th Rating
          th Average PP
          th Average Rank
          th Popular Mods
          th Length
          th BPM
          th Stars
      tbody
        each map, i in maps
          tr
            td 
              p= map.artist + " - " + map.name + " [" + map.version + "]"
            td
              p= map.num_scores
            td
              p= map.score
            td
              p= (map.avg_pp).toFixed(2)
            td
                p= map.avg_rank
            td
              p= map.pop_mod
            td
              p= map.length
            td
              p= map.bpm
            td
              p= (map.diff).toFixed(2)