extends head

block content
  h1= title

  h2 Maps

  ul
  div
    table.table
      thead
        tr
          th #
          th MAP
          th Rating
          th Average PP
          th Average Acc
          th Average Rank
          th Popular Mods
          th Length
          th BPM
          th Stars
          th Scores
      tbody
        each map, i in maps
          tr
            td
              p= i
            td 
              a(href='https://osu.ppy.sh/b/'+map.bid) #{map.artist} - #{map.name} [#{map.version}]
            td
              p= (100*map.score).toFixed(2)
            td
              p= (map.avg_pp).toFixed(2)
            td
              p= (map.avg_acc).toFixed(2) + "%"
            td
                p= map.avg_rank
            td
              p= map.pop_mod
            td
              p= map.length
            td
              p= map.bpm
            td
              p= (map.diff).toFixed(2)
            td
              p= map.num_scores